#chart-area {
	border: 1px solid black
}

.axis-label {
	font-size: 25px;
	text-anchor: middle;
}

.y {
	transform: rotate(-90deg);
}

.x-axis text {
	font-weight: bold;
}

.close {
	stroke: blue;
	stroke-width: 3px;
	fill: none
}

.moving-avg-close {
	stroke: red;
	stroke-width: 1px;
	fill: none
}

#slider-container {
	margin-top: 10px;
	height: 40px;
	background-color: #eeeef5;
}

#range-label {
	text-align: center;
}

table, thead, th, tr, td {
	border: 1px solid black;
}